@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&display=swap");

body {
  /* color: #263238; */
  font-size: 18px;
  font-family: "Source Serif Pro", Georgia, serif;
  line-height: 1.6;
}

#content {
  margin: 50px auto 50px;
  max-width: 600px;
}

/* Header styling */

header h1 {
  margin-bottom: 11px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

.header-date {
  text-align: right;
}

/* Image styling */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.index-section {
  margin-top: 64px;
  margin-bottom: 64px;
}

#mc_embed_signup {
  /* background: #ffd80d; */
  padding: 8px;
}

/* Hyperlink styling */

a:link {
  color: #263238;
  text-decoration: underline;
}

a:visited {
  color: #263238;
}

a:hover {
  color: #fafafa;
  background-color: #263238;
  text-decoration: none;
}

hr {
  margin: 25px auto 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
}

table,
td,
th {
  border: 1px solid black;
  padding: 10px;
}

/* List styling */

li {
  margin-bottom: 10px;
}

#square-red {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  top: 0;
  height: 600px;
  background: #ffe4cc;
}

#mce-EMAIL {
  /* we need to subtract padding and border */
  width: calc(100% - 2 * 8px - 2 * 2px);
  padding: 8px;
  height: 32px;
  font-size: 18px;
  font-family: "Source Serif Pro", monospace;
  border: 2px solid #ffe4cc;
}

#mce-EMAIL:focus {
  outline: 1px solid #ffe4cc;
}

#mc-embedded-subscribe {
  padding: 16px;
  font-size: 18px;
  font-family: "Source Serif Pro", monospace;
  background: #ffe4cc;
  cursor: pointer;
  border: none;
  margin-top: 8px;
}

#mc-embedded-subscribe:focus {
  outline: 1px solid #ffe4cc;
}
